@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #223eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #1526a7;
    padding: 10px;
}